<!DOCTYPE html>
<html>
    <head>
        <title>kiyeme</title>
        <link rel="stylesheet" href="stats.css">
        <link rel="stylesheet" href="bootstrap.min.css">
        <script src="jquery-3.1.1.min.js"></script>
        <script>
            function loaded(){
                $(".main-rankinput").each(function(ind){
                    $(this).attr("value",ind+1);
                });
                $("main,#main-list,.main-result").width(function(ind,val){
                    return $(window).width()*.75;
                });
                for (i=0;i<5;i++)
                    $("#main-list").append($(".main-result"))
                console.log($(".main-result"));
            }
        </script>
    </head>
    <body onload="loaded();">
        <main>
            <table id="main-list">
                {% for result in priorities %}
                    <tbody class="main-result">
                        <tr>
                            <td class="main-moveup"><button>&uarr;</button></td>
                            <td class="main-prob" rowspan="2"><strong>50%</strong></td>
                            <td class="main-subject" rowspan="3">
                                <strong>CS 130</strong>
                                WFR
                            </td>
                            <td class="main-units" rowspan="3">3.0</td>
                            <td class="main-profs">CANSECO, Roy Vincent</td>
                        </tr>
                        <tr>
                            <td class="main-rank"><input type="text" class="main-rankinput" value="&nbsp;"></input></td>
                            <td class="main-sched" rowspan="2">WF 8:30-10AM lec CLR2</td>
                        </tr>
                        <tr>
                            <td class="main-movedn"><button>&darr;</button></td>
                            <td class="main-slots">
                                <strong>10</strong>
                                / 5
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="main-result">
                        <tr>
                            <td class="main-moveup"><button>&uarr;</button></td>
                            <td class="main-prob" rowspan="2"><strong>100%</strong></td>
                            <td class="main-subject" rowspan="3">
                                <strong>Physics 72</strong>
                                TWHFV-3
                            </td>
                            <td class="main-units" rowspan="3">3.0</td>
                            <td class="main-profs">ABELLA, Alfred; COMETA, Adam Jesson</td>
                        </tr>
                        <tr>
                            <td class="main-rank"><input type="text" class="main-rankinput" value="&nbsp;"></input></td>
                            <td class="main-sched" rowspan="2">Th 11:45AM-12:45PM disc NIP F206; TWF 11:45AM-12:45PM lec NIP LP104</td>
                        </tr>
                        <tr>
                            <td class="main-movedn"><button>&darr;</button></td>
                            <td class="main-slots">
                                <strong>10</strong>
                                / 5
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </main>
        <aside>
            <form name="search" id="search-form">
                <input id="search-input" type="text" placeholder="Search"></input>
            </form>
            {% if search_results %}
                <ul id="search-list">
                {% for result in search_results %}
                    <li class="search-result">
                        <div class="search-subject">
                            <strong>{{ result.subject }}</strong>
                            {{ result.section }}
                        </div>
                        <div class="search-numbers">
                            <span class="search-slots"><strong>{{ result.slots }}</strong> / {{ result.demand }}</span>
                            <span class="search-units">{{ result.units }}</span>
                        </div>
                        <div class="search-profs">
                            {{ result.profs }}
                        </div>
                        <div class="search-scheds">
                            {{ result.sched }}
                        </div>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <div class="search-result search-fail">
                    <p> waley-waley beh </p>
                </div>
            {% end if %}
        </aside>
    </body>
</html>