main{
    font-size:0.75em;
    margin: 1em;
}
aside{
    position:fixed;
    right:1em;
    width:calc(100% - 70em);
}
#main-list{

}
#main-list *{
    text-align:center;
}
.main-result{

}
.main-result>tr>td{
    padding:0;
}
.main-result>tr>td:first-child,.main-result>tr>td:first-child>*{
    width:2em;
}
.main-prob{
    width:0.5em;
    font-size:2.5em;
}
.main-subject{
    width:10em;    font-size:3em;
}
.main-units{
    width:2em;
    font-size:1.5em;
}
.main-profs{
    width:30em;
}
.main-sched{
    width:20em;
    font-size:1.5em;
}
.main-slots{
    width:0.3em;
    font-size:1.5em;
}